<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body style="text-align: center;">
    <%- include('../includes/navigation.ejs') %>
    <main>
        <h1>
            Task -1
        </h1>
        <br>
        <h2>
            App with Express and NodeJS using mongodb
        </h2>
    </main>
<%- include('../includes/end.ejs') %>